//blue
$primary-color: #0400FF;
$secondary-color: #DCF9E4;
$tertiary-color: #403E3C;

$font-stack: 'europa', Arial, Helvetica, sans-serif;
$font-weight: 500 !important;

//cursor
$bluramount: 50px;
$cursor-size: 250px;



//$primary-color: #403E3C;

//green
//$primary-color: rgb(0, 209, 80);
//$secondary-color: rgb(0, 209, 80);
//rgb(0, 231, 89);


//green (too hard to read)
//$primary-color: rgb(0, 255, 98);
//$secondary-color: rgb(0, 255, 98);



//$secondary-color: rgb(0, 68, 255);





